.header.header--top-center .mega-menu__list {
    justify-content: space-between;
}

.mega-menu__features * {
    margin: 0;
    padding: 0;
}

.mega-menu__features .typo__d-upper-link-b {
    max-width: 300px;
    height: auto;
    display: block;
}

.mega-menu__features p {
    text-align: center;
}

.mega-card-link {
    color: #000;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.mega-card-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.mega-menu__link--level-2 {
    text-transform: capitalize;
}

.header__menu-item span {
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 2px;
}